<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @link.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @link.url %>
</p>

<p>
  <strong>Article:</strong>
  <%= @link.article %>
</p>

<%= link_to 'Edit', edit_article_link_path(@link) %> |
<%= link_to 'Back', article_links_path %>
